{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpg' %}" alt="logo"><span style="font-size:2rem;">Care & Cure</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/hospital/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hospital/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Departments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cardiology</a>
          <a class="dropdown-item" href="#">Neurology</a>
          <a class="dropdown-item" href="#">Pulmonology</a>
          <a class="dropdown-item" href="#">Gynecology</a>
          <a class="dropdown-item" href="#">Orthopaedics</a>
          <a class="dropdown-item" href="#">General Surgery & Gastrointestinal Surgery</a>
          <a class="dropdown-item" href="#">Anaesthesia</a>
          <a class="dropdown-item" href="#">Chiropractic</a>
          <a class="dropdown-item" href="#">Dental Care</a>
          <a class="dropdown-item" href="#">Dermatology</a>
          <a class="dropdown-item" href="#">Diabetes & Endocrinology</a>
          <a class="dropdown-item" href="#">Audiology And Speech Therapy</a>
          <a class="dropdown-item" href="#">Ear Nose Throat</a>
          <a class="dropdown-item" href="#">Emergency Department</a>
          <a class="dropdown-item" href="#">Eye Care</a>
          <a class="dropdown-item" href="#">Gastroenterology</a>
          <a class="dropdown-item" href="#">Immigration Medical Examination</a>
          <a class="dropdown-item" href="#">Intensive Care</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Patients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Blogs</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>

  </div>
</nav>