{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Add Doctor</title>
{% endblock %}
{% block content %}
<style>
    .success_message{
        background:#4DB6AC;
        color:#fff;
        border-radius:5px;
    }
    .error_message{
        background:red;
        color:#fff;
        border-radius:5px;
    }
    .help-block{
        color:red;
    }
</style>
<div class="container">
    {% for message in messages %}
       {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
           <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
       {% endif %}

       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
           <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
       {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Add New Doctor</h1>
            <div class="card py-2 px-2">
                <form action="" class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|bootstrap_horizontal}}
                    <div class="container text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}