{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Update Doctor</title>
{% endblock%}

{% block  content %}
    <div class="container">
        <div class="row">

            <div class="col-md-10 offset-md-1">
                <h1 class="text-center">Update Doctor Profile</h1>
                <div class="card py-2 px-2">
                    <form class="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form | bootstrap_horizontal }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}